@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.sidebar-header {
    display: flex;
    align-items: center;
    color: #fff;
}

.sidebar-header img {
    width: 50px;
    border-radius: 50%;
    padding-right: 15px;
}

body {
    min-height: 100vh;
    background: #d2d2d2;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 68px; /* Adjusted for responsiveness */
    max-width: 270px; /* Added max-width for responsiveness */
    background: #161a2d;
    padding: 25px 20px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: auto; /* Added overflow-y for scrollability */
    transition: all 0.4s ease;
}

.sidebar:hover{
    width: 500px; 
}

.sidebar:hover .sidebar-links h4 span{
    opacity: 1;
}

.sidebar-header h2 {
    font-size: 1.25rem;
    font-weight: 400;
    color: #fff;
    margin-left: 23px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
}

.sidebar-links h4 span{
    opacity: 0;
}

.sidebar-links h4 {
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
}

.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: white;
    font-weight: 500;
    padding: 15px 5px;
    white-space: nowrap;
    text-decoration: none;
}

.sidebar-links li a:hover {
    background: #3421212d;
    color: #fff;
    border-radius: 4px;
}
